@font-face {
    src:url("fonts/verdana.ttf");
    fontWeight: normal;
    fontFamily: embeddedVerdana;
}
.squareButton {
	corner-radius:5;
	border-style:solid;
	border-thickness:1;
	border-color:#656A72;
	horizontal-align:center;
	background-color:#F4F4F4;
}
.squareButtonSelected {
	corner-radius:5;
	border-style:solid;
	border-thickness:1;
	border-color:#656A72;
	horizontal-align:center;
	background-color:#00A65A;
}



/**** MAIN NAV ****/
VBox.mainNavButton
{	
	border-color:#FFFFFF;
	border-style:solid;
	text-decoration:none;
}

VBox.mainNavButtonSelected
{
	background-color:#00A65A;	
	color:#FFFFFF;
	border-style:solid;	
	border-color: #636363;
	border-sides: "top,left";
	text-decoration:none;
}

Label.mainNavLinkRollover
{
	background-color:#F4F5F7;	
	border-color:#ffffff;
	color:#67717A;
	text-decoration:underline;
}

/**** HEADING STYLES ****/
Text.greenHeading
{
	color:#00A65A;
	font-size:12;	
}

Label.darkGrayHeading
{
	color:#656A72;
	font-size:10;	
	font-weight:bold;
}

Box.grayLabelBox
{
	background-color:#C0C4C7;
	padding-top:2;
	padding-bottom:2;
	padding-left:5;
	padding-right:5;
}

/**** TEXT STYLES ****/
Text.grayText
{
	color:#A1A6AA;
}

/**** LINK STYLES ****/
Label.greenLinkText
{
	color:#00A65A;
	text-decoration:underline;
}

Label.redLinkText
{
	color:#DB3326;
	text-decoration:underline;
}

/**** ACCORDIAN STYLES ****/

Accordion 
{
	headerStyleName: "myaccordionHeader";
}

.myaccordionHeader {
   selectedFillColors: #00A65A, #00A65A;
   fillAlphas: 1,1;
   selectedTextColor: #FFFFFF;
}

/**** DATAGRIDS ****/
AdvancedDataGrid
{
	alternatingItemColors: #ffffff, #ffffff;
   headerColors: #5F6972, #5F6972;
   horizontalGridLines: false;
   rollOverColor: #99CCFF;
   textRollOverColor: #000000;
   color: #333333;
   headerStyleName: "myAdvancedDataGridHeaderStyle";
   selection-color:#8685D6;
   vertical-align:middle;
}
.myAdvancedDataGridHeaderStyle
{
	color: #ffffff;
}
AdvancedDataGrid.light
{
	alternatingItemColors: #ffffff, #ffffff;
   headerColors: #B5BABD, #B5BABD;
   horizontalGridLines: false;
   rollOverColor: #99CCFF;
   textRollOverColor: #000000;
   color: #333333;
   headerStyleName: "myAdvancedDataGridHeaderStyle";
   selection-color:#8685D6;
   vertical-align:middle;
}

DataGrid
{
   alternatingItemColors: #ffffff, #ffffff;
   headerColors: #5F6972, #5F6972;
   horizontalGridLines: false;
   rollOverColor: #99CCFF;
   textRollOverColor: #000000;
   color: #333333;
   headerStyleName: "mydataGridHeaderStyle";
   selection-color:#8685D6;
   vertical-align:middle;
}

.mydataGridHeaderStyle {
   color: #ffffff;
}

/**** PANELS ****/
Panel.slimBlueHeaderPanelNoPadding
{
	borderStyle: none;
   borderColor: #0033ff;
   borderAlpha: 1;
   cornerRadius: 0;
   headerHeight: 15;
   backgroundAlpha: 0.94;
   highlightAlphas: 0, 0;
   headerColors: #333192, #333192;
   dropShadowEnabled: false;
   shadowDistance: 0;
   titleStyleName: "mySlimPanelTitle";
   padding-top:0;
   padding-right:0;
   padding-bottom:0;
   padding-left:0;
   background-color:#F4F4F4;
}

Panel.slimBlueHeaderPanel
{
	borderStyle: none;
   borderColor: #0033ff;
   borderAlpha: 1;
   cornerRadius: 0;
   headerHeight: 15;
   backgroundAlpha: 0.94;
   highlightAlphas: 0, 0;
   headerColors: #333192, #333192;
   dropShadowEnabled: false;
   shadowDistance: 0;
   titleStyleName: "mySlimPanelTitle";
   padding-top:2;
   padding-right:2;
   padding-bottom:2;
   padding-left:0;
   background-color:#F4F4F4;
}
.mySlimPanelTitle {
   color: #ffffff;
   font-weight:normal;
   font-size:9;
}

Panel.blueHeaderPanel{
   borderStyle: none;
   borderColor: #0033ff;
   borderAlpha: 1;
   cornerRadius: 0;
   headerHeight: 21;
   backgroundAlpha: 0.94;
   highlightAlphas: 0, 0;
   headerColors: #333192, #333192;
   dropShadowEnabled: false;
   shadowDistance: 0;
   titleStyleName: "mypanelTitle";
   padding-top:10;
   padding-right:5;
   padding-bottom:5;
   padding-left:5;
   background-color:#F4F4F4;
}

.mypanelTitle {
   color: #ffffff;
   font-weight:normal;
   font-size:11;
}

Panel.slimPanel {
   border-thickness-left:2;
   border-thickness-right:3;
   border-thickness-bottom:2;
   padding-top:5;
   padding-right:5;
   padding-bottom:5;
   padding-left:5;
   drop-shadow-enabled:false;
   header-height:18;
}
.slimPanelTitle {
	font-weight:normal;
}

/**** TITLE WINDOW STYLES ****/

TitleWindow.blueHeader
{
	headerColors: #333192, #333192; 
	titleStyleName: "titleWindowBlueHeaderTitleStyle";
	statusStyleName: "titleWindowBlueHeaderTitleStyle";
}

.titleWindowBlueHeaderTitleStyle {
   color: #ffff00;
   font-size:10;
}

.titleWindowBlueHeaderTitleStyle {
   color: #ffffff;
   font-weight:bold;
   font-size:11;
}

/**** TAB NAVIGATOR ****/
TabNavigator {
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {
   fillColors: #5F6972, #5F6972;
	themeColor: #5F6972;
}

.mySelectedTabs {
}

/**** TOGGLE BUTTON BAR ****/
ToggleButtonBar {
   selectedButtonTextStyleName: "buttonBarSelectedTextStlye";
	themeColor: #00A65A;
   /* buttonStyleName: "buttonBarButtonStyle";
   firstButtonStyleName: "firstButtonStyle";
   lastButtonStyleName: "lastButtonStyle"; */
   
}

.selectedButtonBarButtonStyle{
	fill-colors: #00A65A, #00A65A, #00A65A, #00A65A;
	fill-alphas: .8,.9,.8,.9;
}
.buttonBarSelectedTextStlye {
   color: #007943;
  
   
}

/**** FOOTER ****/
Box.footerBlueBox
{
	/*backgroundColor="#333192" paddingTop="5" paddingBottom="5" paddingLeft="8" paddingRight="8" horizontalAlign="center" verticalAlign="middle" */
	background-color:#333192;
	padding-top:5;
	padding-bottom:5;
	padding-left:8;
	padding-right:8;
	horizontal-align: "center";
	vertical-alighn: "middle";
}