
<!---

  Template Name:  Alert
     Base Table:  Alerts

abe@twintechs.com

       Author:  Abraham Lloyd
 Date Created:  Thursday, July 16, 2009
  Description:

Revision History
Date		Initials		Comments
----------------------------------------------------------
Thursday, July 16, 2009 - Template Created.

--->

<cfcomponent	displayname="Alert"
				hint="This CFC manages all object/bean/value object instances for the Alerts table, and is used to pass object instances through the applicaiton service layer."
				output="false"
				extends="BaseValueObject"
				alias="mce.e2.alerting.vo.Alert"
				style="rpc">

	<!--- Declare and initialize the properties for a given component. --->
	<cfproperty name="alert_uid" required="true" type="string"/>
	<cfproperty name="alert_subscription_uid" required="true" type="string"/>
	<cfproperty name="user_uid" required="true" type="string"/>
	<cfproperty name="property_uid" required="true" type="string"/>
	<cfproperty name="alert_type_code" required="true" type="string"/>
	<cfproperty name="alert_status_code" required="true" type="string"/>
	<cfproperty name="recipient_address" required="true" type="string"/>
	<cfproperty name="alert_content" required="true" type="string"/>
	<cfproperty name="alert_body" required="true" type="string"/>
	<cfproperty name="alert_due_date" required="true" type="date"/>
	<cfproperty name="alert_visibility_date" required="true" type="date"/>
	<cfproperty name="is_active" required="true" type="boolean" hint="Describes the active status of a given record (1 = active, 0 = inactive)."/>
	<cfproperty name="created_by" required="true" type="string" hint="Describes the system user that created a  given record."/>
	<cfproperty name="created_date" required="true" type="date" hint="Describes the date that a given record was first created."/>
	<cfproperty name="modified_by" required="true" type="string" hint="Describes the system user that last modified a given record."/>
	<cfproperty name="modified_date" required="true" type="date" hint="Describes the date that a given record was last modified."/>
	<cfproperty name="energy_account_uid" required="true" type="string" hint="This is optional and will not always be populated, depending on the alert type"/>
	<cfproperty name="alert_context_notes" required="true" type="string" hint="This is optional and will not always be populated, depending on the alert type"/>
	<cfproperty name="alert_location_notes" required="true" type="string" hint="This is optional and will not always be populated, depending on the alert type"/>
	<cfproperty name="alert_subject_notes" required="true" type="string" hint="This is optional and will not always be populated, depending on the alert type"/>

	<cfproperty name="alertSubscriptionFriendlyName" required="true" type="string" hint="Derived from AlertSubscription table; consider transient."/>

	<!--- Define the meta-data for a given value object. --->
	<cfproperty name="primaryKey" required="true" type="string" default="alert_uid" hint="Describes the primary key for the current object / table.">
	<cfproperty name="isAssociated" required="true" type="boolean" default="false" hint="Describes whether the current object has an association to another object / object type (true = is associated to a parent object, false = is not associated to a parent object)."/>

	<cfproperty name="alertMeta" type="array">
	<cfproperty name="alertUsers" type="array">

	<!--- Default any required properties. --->
	<cfset this.primaryKey = "alert_uid"/>
	<cfset this.alert_uid = ""/>

</cfcomponent>
