<!--- Initialize local variables --->
<cfset local = structNew()>

<!--- Instantiate the component --->
<cfset local.accountService = request.beanFactory.getBean("energyAccountService")>
<cfset local.energyUsageService = request.beanFactory.getBean("energyUsageService")>

<cfset local.array = arrayNew(1)>
<cfset local.obj = createObject('component', 'mce.e2.vo.EnergyAccount')>
<cfset local.obj.energy_account_uid = '8e070d18-862e-4811-9985-3130529032d7'>	
<cfset local.obj = local.accountService.getEnergyAccount(local.obj)>
<cfset arrayAppend(local.array, duplicate(local.obj))>
<<<<<<< origin/develop
=======
<cfset local.result = local.energyUsageService.getAvailableEnergyUsage(local.array,'01-01-2013', '02-02-2013')>
<cfdump var="#local.result#">
<cfset local.before  = local.result [1]>
<cfset local.before.hasBill  = 1  - local.before.hasBill >   	
<cfset local.before.hasScreen  = 1  - local.before.hasBill >   	
<cfset local.energyUsageService.saveExistingEnergyUsage(local.before)>
<cfset local.result = local.energyUsageService.getAvailableEnergyUsage(local.array,'01-01-2013', '02-02-2013')>
>>>>>>> local

<cfset local.result = local.energyUsageService.getAvailableEnergyUsage(
		local.array, '01-01-2012', '01-01-2013')>	
<cfdump var="#local.result#">	