<!--- Initialize local variables --->
<cfset local = structNew()>	

<!--- Create the service --->	
<cfset local.accountService = request.beanFactory.getBean("energyAccountService")>

<cfset local.obj = createObject('component', 'mce.e2.vo.EnergyAccount')>
<cfset local.obj.energy_account_uid = '5DCF5359-CEB9-1507-60EC-61CFC35EF916'>	
<cfset local.obj = local.accountService.getEnergyAccount(local.obj)>
<cfdump var="#local.obj#">

<cfset local.obj.friendly_name = 'Modified ADL1'>
<cfdump var="#local.obj#">

<cfset local.accountService.SaveExistingEnergyAccount(local.obj)>
<cfset local.obj = local.accountService.getEnergyAccount(local.obj)>
<cfdump var="#local.obj#">

