
﻿<!--- Initialize local variables --->
<cfset local = structNew()>
sss<br/>
<!--- Instantiate the component --->
<cfset local.epService = request.beanFactory.getBean("energyProviderService")>
aaaaa<br/>
<cfset local.scrmService = request.beanFactory.getBean("subclassesRateModelsMapService")>

bbbb<br/>
<cfset local.sublcasses = createObject("component", "mce.e2.vo.SubclassesRateModelsMap")>
<cfset local.obj = createObject('component', 'mce.e2.vo.EnergyProvider')>
<cftrace category="UDF End" inline = "True" var = "local.obj" text = "GetRecords UDF call has completed">
<cfset local.obj.energy_provider_uid = 'C10FEBB9-42B5-4334-96CB-4024C2C472B9'>	
<cfset local.obj2 = local.epService.getEnergyProvider(local.obj)>
<cfset local.sublcasses = local.scrmService.getAvailableSubclassesRateModelsMaps(local.obj2, '1')>

tests<br/>
<cfdump var="#local.sublcasses#">	