<cfcomponent extends="mxunit.framework.RemoteFacade" output="false">

	<cffunction name="actOnTestCase">
		<cfargument name="testCase">

		<cfset request.e2 = application.e2>
		<cfset request.beanFactory = application.beanFactory>
	</cffunction>
</cfcomponent>