/* CSS file */
AlertWindow
{
 color: #000000;
 backgroundColor: #F7F7F7;
 borderColor: #9B9FA7;
 borderStyle: solid;
 cornerRadius: 0;
}

FormItem {
    labelStyleName: customTextAlignLabel;
}

.customTextAlignLabel {
    textAlign: left;
}

TitleWindow {
   headerColors: #999999, #f4f5f7;
   borderColor: #f4f5f7;
   borderThickness: 1;

   borderAlpha: 1.0;

   backgroundColor: #ffffff;
}
Text.ReportTitle
{
	fontSize: 12;
	fontWeight: bold;
	fontFamily: "Verdana";
}
Text.ReportAbout
{
	fontSize: 10;
	fontFamily: "Verdana";
}
ReportCenter
{
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: bold;
}
ReportCategory
{
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: normal;
}
ReportSubtitle
{
	fontFamily: Verdana;
	fontSize: 10;
	fontWeight: normal;
}