<cfset baseUrl = "/mceE2Alerting">

<cfoutput>
	<title>Alerting</title>
	  <a href="#baseUrl#/index.cfm"><b>Alerting</b></a>
	| <a href="#baseUrl#/index.cfm?doAlertGeneration=true">Generate Alerts</a>
	| <a href="#baseUrl#/index.cfm?doAlertSending=true">Send Alerts</a>
	  <a href="#baseUrl#/index.cfm?doAlertSending=true&respectVisibilityDate=false">(no visibility delay)</a>
	| <a href="#baseUrl#/tools/testing/testingTools.cfm">Testing Tools</a>
	<hr>
</cfoutput>