<cfheader  name="content-disposition" value="inline; filename=test.pdf"> 

<cfhttp resolveurl="true" url="http://192.168.1.10:9011/reportserver_SQLDEV?/SQL2008%20Reports/PropertyList&rs:Command=Render&rs:Format=PDF"
						method="get"
	getasbinary="YES"
		
			result="result"
				password="03272005@mce.com"
					username="mce\Jason">

<cfcontent type="application/pdf" variable="#result.filecontent#">
<!--- 
<cfheader  name="content-disposition" value="inline; filename=test.xls"> 
<cfhttp resolveurl="true" url="http://192.168.1.10:9011/reportserver_SQLDEV?/SQL2008%20Reports/PropertyList&rs:Command=Render&rs:Format=EXCEL"
						method="get"
	getasbinary="YES"
		
			result="result"
				password="03272005@mce.com"
					username="mce\Jason">
<cfcontent type="application/xls" variable="#result.filecontent#"> --->
